# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual environment
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Pytest
.pytest_cache/
.cache/

# Allure reports
reports/allure-results/
reports/allure-report/

# Voice / TTS outputs
out.wav
out.mp3

# Logs
*.log

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db


 src/__pycache__/
 tests/__pycache__/